chroma_db/
*.chroma/
*.db

.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
.env
project
*.env
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.expo/
.expo-shared/

android/.gradle/
android/app/build/
android/build/
ios/build/
ios/Pods/
*.xcworkspace
.metro-cache/
**pycache**/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/
build/
dist/
*.egg-info/
chroma_db/
*.db
*.sqlite3
.ipynb_checkpoints/
.vscode/
.idea/
coverage/
.pytest_cache/
*.bak
*.cache
